.Head { background-color: #40E0D0; color: #ffffff; padding:100px 100px 100px 100px; text-align: center;
}

h1 {font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p { margin: 20px 60px 20px 60px; text-align: justify;}

body {background-color: #FBF7EB; margin: 20px 60px 20px 60px}

